@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Css to apply gradient to top right, from #0a2942 to #0b473f */
  background: linear-gradient(42deg, #0a2942 0%, #0b473f 100%);
  color: #fff;
}
@font-face {
  font-family: "MazzardH-Regular";
  src: url("/fonts/MazzardH-Regular.otf");
}

@font-face {
  font-family: "MazzardL-Bold";
  src: url("/fonts/MazzardL-Bold.otf");
  }

@font-face {
  font-family: "Ocean-Semibold";
  src: url("/fonts/Ocean-Semibold.otf");
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
